* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    gap: 10px;
    grid-template-areas: 'header' 'section1' 'cards' 'footer';
    background-color: #666666;
    color: #e3e3e3;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    height: 200px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    grid-area: header;
    box-shadow: 0 2px 4px #111111;
    align-items: center;
}

.logo {
    width: 180px;
    border: 1px solid #26877f;
    border-radius: 50%;
    box-shadow: 0 0px 10px #26877f;
}

.logo img {
    height: stretch;
    display: block;
    margin: 0 auto;
}

.header-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.header-right > a {
    text-decoration: none;
    color: #26877f;
}

.header-right h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

nav {
    height: 40%;
    width: 100%;
}

.nav-menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
}

.nav-link {
    width: 30%;
    height: 80%;
    border-left: 2px solid #26877f;
    transition: 0.2s;
}

.nav-link a {
    display: block;
    height: stretch;
    align-content: center;
    text-decoration: none;
    color: #e3e3e3;
}

.is-active {
    border-bottom: inset 2px #26877f;
}

.nav-link:hover, .card-footer:hover {
    font-size: 18px;
    box-shadow: 1px 0px 5px #e3e3e3;
}

.article1, .article-column {
    grid-area: section1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    color: wheat;
    border: 1px solid #26877f;
    border-radius: 15px;
    box-shadow: 0 4px 6px #26877f;
    margin: 10px 0;
}

.article1 > figure {
    width: 40%;
    padding: 15px;
}

.article1 > figure img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.article1 a {
    text-decoration: none;
    color: #48a99f;
}

.article1-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.2;
    font-size: large;
}

.article1-text h2 {
    border-bottom: 2px solid #26877f;
    padding: 5px;
}

.cards {
    grid-area: cards;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.card {
    width: 20vw;
    text-align: center;
    border-radius: 15px;
    background-color: #333333;
    transition: 0.2s;
    margin: 0 5px;
}
.card:hover {
    box-shadow: 0 0 5px #111111;
}
.card-header {
    border-bottom: 2px solid #26877f;
}
.card-body {
    padding: 20px;
    line-height: 1.5;
}

.card-img {
    width: 90%;
    height: 140px;
}

.card-body ul {
    list-style: decimal;
}
.card-footer {
    padding: 15px 10px;
    border-top: 2px solid #26877f;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
    transition: 0.2s;
}
.card-footer a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px #111111;
    padding: 20px;
    height: 300px;
}

.footer-left, .copyright, .header-left, .header-right {
    width: 50%;
}

.footer-logo, .logo, .header-left, .header-right, .nav-menu, .article1-text, .footer-left {
    height: 100%;
}

.header-left, .logo, .card, .card-header {
    padding: 10px;
}
.footer-logo img {
    display: block;
    height: stretch;
    margin: 0 auto;
}

.copyright {
    width: 50%;
    height: 100%;
    padding: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ------ Products ------ */

.section1 {
    grid-area: section1;
    width: 90%;
    padding: 20px;
    background-color: antiquewhite;
    margin: 10px auto;
}

.section1 h1 {
    color: #111111;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #111111;
}

/* ------ About us ------ */

.content-title {
    text-align: center;
    font-size: larger;
    margin: 10px 0;
    padding: 10px;
}

.we {
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid #26877f;
}

.person {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
 .person-img {
    width: 400px;
    height: 400px;
    color: antiquewhite;
    text-align: center;
 }

 .person-img img {
    width: 90%;
 }

 .person-description {
    width: 60%;
    font-size: 18px;
 }

 .article-column {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
 } 
 .company-description {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
 }
 .company-description > p {
    padding: 5px;
    width: 40%;
 }